    html {
        background:black;
    }
    body {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
    }
    #map {
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        bottom:0;
    }
    .leaflet-container {
        background:black;
    }
    .circle {
        height:18px;
        width:18px;
        border-radius:50%;
        margin:0px;
    }

    #informIP {
        display:none;
        height:auto;
        width:250px;
        position:absolute;
        bottom:30%;
        left:10%;
        padding:15px;
        border-radius:25px;
        background:#666161;
        opacity:0.9;
    }

    #informIP #fechar{
        float:right;
        left:90%;
        border-radius:25px;
        color:red;
        font-style:oblique;
    }

    #informIP #blockIP{
        position:relative;
        left:30%;
        padding:10px;
        font-weight:bold;
        box-shadow:1px 1px;
    }
    #informIP h3{
        font-size:1.4em;
        padding:0px;
	color:#ffffff;        
    }

    .container-fluid {
        height:25%;
        width:100%;
        position:absolute;
        bottom:3.5%;
        background:black;
        opacity:0.7;
    }
    .row {
        height:100%;
    }
    .row table {
        height:100%;
        margin:0px
    }
    tbody {
        height:100%;
    }
    table th, td{
        text-align:center;
    }
    th, td {
        color:white;
    }
    .col-md-1 {
        height:100%;
        overflow-y:scroll;
        overflow-x:auto;
    }
    .col-md-2 {
        height:100%;
        overflow-y:scroll;
        overflow-x:auto;
    }
    .col-md-7 {
        height:100%;
        overflow-y:scroll;
        overflow-x:auto;
    }
	
    .col-md-8 {
        height:158px;
        overflow-y:scroll;
        overflow-x:auto;
    }

    .col-md-4 {
        height:154px;
        overflow-y:scroll;
        overflow-x:auto;
    }
